* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(y.jpg);
    background-size: cover;
  }
  
  .topnav-text{
      text-align : center;
      margin-left : 300px;
      color :white;
      font-weight: bold;
  }
  
  .topnav-ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    .topnav-ul li {
      float: left;
    }
    .topnav a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float:left;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
      z-index: 1;
    }
    
    
  .content {
    background-image:  ;
    padding: 10px;
  }
  
  .logo {
    display: inline-block;
      vertical-align: top;
      width: 50px;
      height: 50px;
      float : left;
      margin-top: 1px; 
  }
  
  #slider{
      width:100%;
      height:500px;
      position:relative;
      overflow:hidden;
      z-index: -1;
    }
    .slides{
      width:400%;
      height:100%;
      position:relative;
    }
  
    .slider{
      width:25%;
      height:100%;
      float:left;
      position:relative;
      z-index:1;
      overflow:hidden;
    }
  
    .slide img{
      width:100%;
      height:100%;
      z-index: -1;
    }
    .image{
      width:100%;
      height:100%;
    }
    .image img{
      width:100%;
      height:100%;
    }
  
   .hr-break{
     margin-left: 300px;
     
   }
   marquee{
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 8px;
    }
    .pop{
      margin-left: 450px;
    }
  
    .ul-first {
      font-size : 20px;
      margin-left:300px
    }
    .ul-sec {
      font-size:20px;
      float:right;
      margin-right  :250px;
    }

    .footer {
        position: fixed;
        height: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
    }

    div.transbox {
        margin: 30px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.6;
        border-radius: 25px;
  border: 2px solid goldenrod;
      }
      
      div.transbox p {
        margin: 5%;
        font-weight: bold;
        color: #000000;
      }